﻿@using BeadandóShared
<EditForm Model="Book" OnValidSubmit="() => OnValidSubmit()">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Cím</label>
        <InputText @bind-Value="Book.Title" class="form-control" />
        <ValidationMessage For="() => Book.Title" />
    </div>

    <div class="mb-3">
        <label class="form-label">Szerző</label>
        <InputText @bind-Value="Book.Author" class="form-control" />
        <ValidationMessage For="() => Book.Author" />
    </div>

    <div class="mb-3">
        <label class="form-label">Kiadó</label>
        <InputText @bind-Value="Book.Publisher" class="form-control" />
        <ValidationMessage For="() => Book.Publisher" />
    </div>

    <div class="mb-3">
        <label class="form-label">Kiadás éve</label>
        <InputNumber @bind-Value="Book.PublishDate" class="form-control" />
        <ValidationMessage For="() => Book.PublishDate" />
    </div>

    <button class="btn btn-primary form-control" type="submit">@ButtonText</button>
</EditForm>

@code {

    [Parameter]
    public Book Book { get; set; }

    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

}
