@page "/reader/add"
@inject IReaderService ReaderService
@inject NavigationManager NavigationManager
@using Beadandó.Shared
@using Beadandó.UI.Services
@using Beadandó.UI.Components

<h3>Olvasó hozzáadása</h3>

<ReaderForm Reader="_reader" OnValidSubmit="AddReaderAsync" ButtonText="Hozzáadás" />

@code {

    private Reader _reader = new()
        {
            Items = [],
        };
        
    private async Task AddReaderAsync()
    {
        await ReaderService.AddAsync(_reader);
        NavigationManager.NavigateTo("readers");
    }

}