@using BeadandóShared
<EditForm Model="Loan" OnValidSubmit="() => OnValidSubmit()">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">Loan Date</label>
        <InputDate @bind-Value="Loan.LoanDate" class="form-control" />
        <ValidationMessage For="() => Loan.LoanDate" />
    </div>

    <div class="mb-3">
        <label class="form-label">Deadline</label>
        <InputDate @bind-Value="Loan.Deadline" class="form-control" />
        <ValidationMessage For="() => Loan.Deadline" />
    </div>


    <button class="btn btn-primary form-control" type="submit">@ButtonText</button>
</EditForm>

@code {

    [Parameter]
    public Loan Loan { get; set; }

    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

}
