@page "/books"
@inject IBookService BookService
@using BeadandóShared
@using BeadandóUI.Services

@if (_books is not null)
{
    <h3>BookList</h3>
    <a class="btn btn-primary" href="book/add">Add book</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Publisher</td>
                <td>Publis Date</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in _books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.PublishDate</td>
                    <td>
                        <a href="books/@book.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}


@code {

    private List<Book> _books;

    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetAllAsync();
    }

}
