@page "/loans/{id:guid}"
@using Beadandó.Shared
@using Beadandó.UI.Services
@using Beadandó.UI.Components
@inject ILoanService LoanService
@inject NavigationManager NavigationManager

@if (_loan is not null && !_errored)
{
    <h3>Szerkesztés</h3>

    <LoanForm Loan="_loan" OnValidSubmit="UpdateAsync" ButtonText="Frissítés" />

    <button class="btn btn-danger form-control mt-3" @onclick="() => DeleteAsync()">Törlés</button>
}
else if (_errored)
{
    <div class="alert alert-danger">
        Loan not found
    </div>
}
else
{
    <p>Loading...</p>
}


@code {

    private bool _errored = false;
    private Loan _loan;

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _loan = await LoanService.GetAsync(Id);
        }
        catch (Exception)
        {
            _errored = true;
        }
    }

    private async Task DeleteAsync()
    {
        await LoanService.DeleteAsync(Id);
        NavigationManager.NavigateTo("loans");
    }

    private async Task UpdateAsync()
    {
        await LoanService.UpdateAsync(_loan);
        NavigationManager.NavigateTo("loans");
    }

}
